* {
    box-sizing: border-box;
		overflow: hidden;
  }

	html, body {
		height: 100%;
	}
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }

#video-parent {
	position: fixed;
	min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

	#video-container {
		display: flex;
	}

  #myVideo {
    min-width: 100%; 
    min-height: 100%;
  }


  .content {
		position: fixed;
		height: 100%;
    text-align: center;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
		display: table;

  }

  .logo {
		display: table-cell; 
		vertical-align: middle; 
		text-shadow: 4px 4px 4px #000000;  }

	.logo h1 {
		font-size: 60px;
	}

	.logo h2 {
		font-size: 20px;
	}

	.logo h1, h2 {
		margin: 0px;
	}